.wrapper {
	background-color: var(--paragraph-bg);
}

.top-content {
	position: relative;
}

.background {
	width: 100%;
}

.content-on-background {
	position: absolute;
	top: 20%;
	width: 40%;
	left: 10%;
	color: var(--white);
}

/* @media screen and (min-width: 1279px) {
	.section-home__gender-buttons {
        display: flex;
		flex-direction: row;
		gap: 40px;
		margin: 50px 0;
		min-width: 650px;
	}
} */

.section-home__gender-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 60px 0 0 -40px;
    max-width: var(--gender-buttons-width);
}

.section-home__gender-buttons_button__select-male {
	background-clip: content-box;
	background-image: var(--button-background);
	border: var(--border-male);
	box-shadow: 0 0 0 10px var(--outline-trans-1), var(--male-button-shadow);
}

.section-home__gender-buttons_button__select-female {
	background-clip: content-box;
	background-image: var(--button-2-bg);
	border: var(--border-female);
	box-shadow: 0 0 0 10px var(--outline-trans-2), var(--female-button-shadow);
}

.section-home__gender-buttons_button {
	align-items: center;
	background-position: 50%;
	background-size: cover;
	border-radius: var(--border-radius-button);
	cursor: pointer;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.section-home__gender-buttons_button__select {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	height: 50px;
	justify-content: center;
	position: relative;
	transition: 0.35s ease;
}

.section-home__gender-buttons_button__icon {
	border-radius: 50%;
	flex-grow: 0;
	height: 28px;
	margin: 0 10px 0 0;
	-o-object-fit: contain;
	object-fit: contain;
	width: 28px;
}

.section-home__gender-buttons_button__title {
	-webkit-text-fill-color: transparent;
	background: var(--white);
	-ms-background: none;
	-webkit-background-clip: text;
	-ms-background-size: 10px;
	font-size: var(--font-size-16);
	font-weight: 700;
	text-align: center;
}

.middle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.section-youget__content_need{
    width: 80%;
}

.section-youget__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 835px;
}

.section-youget__list-item_reason {
    background-color: var(--dark-blue-content-bg);
    border-bottom: none;
    border-radius: var(--border-radius-content);
    box-shadow: 0 12px 24px 0 rgb(43 49 57 / 6%), 0 4px 8px 0 rgb(43 55 70 / 4%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    justify-content: center;
    max-width: 760px;
    padding: 30px;
    width: 100%;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.section-youget__list-item_number {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--number-gradient);
    flex-grow: 0;
    font-size: var(--font-size-39);
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    text-align: left;
    width: 45px;
}

.section-youget__list-text {
    color: var(--text-color);
    flex-grow: 0;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-500);
    letter-spacing: normal;
    line-height: 1.4;
    text-align: left;
}


.section-with-image {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    height: auto;
    justify-content: center;
	padding: 40px 0;
}

.section-benefits__image-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    order: 1;
    position: relative;
}

/* .section-benefits__image-wrap img:first-child {
    left: 20px;
    position: absolute;
} */

.section-benefits__image {
    height: 365px;
    width: 494px;
}

.section-youget__content {
    height: auto;
    margin-left: 30px;
    position: relative;
    width: 335px;
	background-color: var(--dark-blue-content-bg);
    justify-content: center;
    max-width: 495px;
    order: 2;
    padding: 30px;

	align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.section-youget__title {
    color: var(--text-color);
    font-size: var(--font-size-31);
    line-height: 1.28;
    margin: 0 0 10px;
    max-width: 540px;
}

.text-highlight-color--design-color {
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-size: var(--font-size-16);
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
	background-image: var(--highlight-color);
}

.section-youget__side {
    margin-top: 50px;
}

.section-youget__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 835px;
}

.section-youget__list-item {
    align-items: center;
    border-bottom: 1px solid var(--underline);
    display: flex;
    gap: 15px;
    padding: 0 0 14px;
}


.input{
    outline:5px white;
    border: 1px white;
    color: white;
    background-color: var(--dark-blue-bg);
}