.wrapper{
	width: 100%;
	height: var(--default-layout-header-height);
	box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
	display: flex;
	justify-content: center;
	background-color: var(--dark-blue-bg);
}

.inner{
	height: 100%;
	width: calc(var(--default-layout-width)* 0.9);
	color: var(--white);
	fill: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 300px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-right{
	color: var(--white);
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title_input-group{
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	font-size: 20px;
}

.title_input-input{
	flex: 1;
	margin-left: 16px;
}