.wrapper{
	width: 80%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-page{
	text-align: center;
}

.new-menu-button{
	margin-bottom: 22px !important;
}

.exercise-item{
	padding: 12px;
	text-align: center;
}

.step-bar{
	width: 100%;
	padding: 16px;
}